<?xml version="1.0"?>
<robot name="all_sensors" xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- This file unifies all sensors that can be used on simulation, defined as xacro:macros -->

	<!-- ====================================================
                         	Cameras
     ========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/cameras/camera_sensors.urdf.xacro" />

	<!-- ====================================================
						GPS
	========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/gps/gps_sensors.urdf.xacro" />

	<!-- ====================================================
                         	LiDAR
     ========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/lidars/lidar_sensors.urdf.xacro" />

	<!-- ====================================================
                         	Motion
     ========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/motion/motion_sensors.urdf.xacro" />


	<!-- ====================================================
               SITL Plugins for Hardware Devices
     ========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/devices/devices.urdf.xacro" />

	<!-- ====================================================
                         	Misc
     ========================================================= -->
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/misc/misc_sensors.urdf.xacro" />

</robot>
