<?xml version="1.0"?>
<robot name="sensor_imu_quad" xmlns:xacro="http://ros.org/wiki/xacro">

     <xacro:include filename="$(find gazebo_sensor_collection)/urdf/includes/materials.urdf.xacro"/>

     <xacro:macro name="sensor_imu_quad" params="name parent *origin color update_rate prefix:='' noise yaw_offset yaw_drift yaw_noise rate_offset rate_drift rate_noise accel_drift accel_offset accel_noise">

          <joint name="${name}_joint" type="revolute">
               <axis xyz="1 0 0"/>
               <xacro:insert_block name="origin"/>
               <parent link="${parent}"/>
               <child link="${name}_link"/>
               <dynamics damping="1.0"/>
               <limit effort="0" velocity="0" lower="0" upper="0" />
          </joint>

          <link name="${name}_link">
               <inertial>
                    <mass value="0.001"/>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.0000001" iyz="0" izz="0.000001"/>
               </inertial>
               <visual>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                         <box size="0.01 0.01 0.001"/>
                    </geometry>
                    <xacro:color_material color="${color}"/>
               </visual>
               <collision>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                         <box size=".01 .01 .001"/>
                    </geometry>
               </collision>
          </link>

          <!-- ====================================================
                                Gazebo
          ========================================================= -->

          <xacro:color_gazebo parent="${name}_link" color="${color}"/>

          <gazebo reference="${name}_link">
               <sensor name="${name}_sensor" type="imu">
                    <pose>0 0 0 3.14 0 0</pose>
                    <always_on>1</always_on>
                    <update_rate>1000.0</update_rate>
               </sensor>
          </gazebo>

          <gazebo>
               <plugin name="${name}_controller" filename="libgazebo_ros_imu_hec_mod.so">
                    <alwaysOn>true</alwaysOn>
                    <topicName>${prefix}${name}/data</topicName>

                    <serviceName>${name}/service</serviceName>
                    <bodyName>${name}_link</bodyName>
                    <updateRate>${update_rate}</updateRate>

                    <gaussianNoise>${noise}</gaussianNoise>

                    <!-- orientation parameters -->
                    <yawOffset>${yaw_offset}</yawOffset>
                    <yawDrift>${yaw_drift}</yawDrift>
                    <yawGaussianNoise>${yaw_noise}</yawGaussianNoise>

                    <!-- angular velocities parameters -->
                    <rateOffset>${rate_offset}</rateOffset>
                    <rateDrift>${rate_drift}</rateDrift>
                    <rateGaussianNoise>${rate_noise}</rateGaussianNoise>

                    <!-- linear accelerations parameters -->
                    <accelOffset>${accel_offset}</accelOffset>
                    <accelDrift>${accel_drift}</accelDrift>
                    <accelGaussianNoise>${accel_noise}</accelGaussianNoise>
               </plugin>
          </gazebo>

     </xacro:macro>

</robot>
