<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://ros.org/wiki/xacro">

     <xacro:include filename="$(find terrasentia_sensors)/urdf/includes/materials.urdf.xacro"/>

     <xacro:macro name="sensor_imu_hector" params="name parent *origin color update_rate noise yaw_offset yaw_drift yaw_noise rate_offset rate_drift rate_noise accel_drift accel_offset accel_noise">

          <joint name="${name}_joint" type="fixed">
               <axis xyz="1 0 0"/>
               <xacro:insert_block name="origin"/>
               <parent link="${parent}"/>
               <child link="${name}_link"/>
          </joint>

          <link name="${name}_link">
               <inertial>
                    <mass value="0.001"/>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
               </inertial>
               <visual>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                         <box size="0.01 0.01 0.001"/>
                    </geometry>
                    <xacro:color_material color="${color}"/>
               </visual>
               <collision>
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                         <box size=".01 .01 .001"/>
                    </geometry>
               </collision>
          </link>

          <!-- ====================================================
                                Gazebo
          ========================================================= -->

          <xacro:color_gazebo parent="${name}_link" color="${color}"/>

          <gazebo>
               <plugin name="${name}_controller" filename="libhector_gazebo_ros_imu.so">
                    <alwaysOn>true</alwaysOn>
                    <topicName>terra/${name}</topicName>
                    <serviceName>${name}/service</serviceName>
                    <bodyName>${name}_link</bodyName>
                    <updateRate>${update_rate}</updateRate>

                    <gaussianNoise>${noise}</gaussianNoise>

                    <!-- orientation parameters -->
                    <yawOffset>${yaw_offset}</yawOffset>
                    <yawDrift>${yaw_drift}</yawDrift>
                    <yawGaussianNoise>${yaw_noise}</yawGaussianNoise>

                    <!-- angular velocities parameters -->
                    <rateOffset>${rate_offset}</rateOffset>
                    <rateDrift>${rate_drift}</rateDrift>
                    <rateGaussianNoise>${rate_noise}</rateGaussianNoise>

                    <!-- linear accelerations parameters -->
                    <accelOffset>${accel_offset}</accelOffset>
                    <accelDrift>${accel_drift}</accelDrift>
                    <accelGaussianNoise>${accel_noise}</accelGaussianNoise>
               </plugin>
          </gazebo>

     </xacro:macro>

</robot>
