<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

     <!-- ====================================================
          Include Sensor Database for Available Sensors
     ========================================================= -->
     <xacro:include filename="$(find gazebo_sensor_collection)/urdf/all_sensors.urdf.xacro" />

     <xacro:macro name="world" params="">
          <link name="world_link"/>
          <gazebo reference="world_link">
               <static>true</static>
          </gazebo>
     </xacro:macro>
     <!-- ====================================================
                    Attach and Configure Sensors
     ========================================================= -->
     <xacro:world/>

     <!-- LiDAR sensor_hokuyo_ust10lx -->
     <xacro:sensor_hokuyo_ust10lx name="hokuyo" parent="world_link" color="black" visualize="true">
          <origin xyz="0.22 0 0.173" rpy="0 0 0"/>
     </xacro:sensor_hokuyo_ust10lx>

     <!-- LiDAR sensor_hokuyo_ust10lx -->
     <xacro:sensor_realsense_r200 parent="world_link">
          <origin xyz="0.26 0 0.05" rpy="0 0 0" />
     </xacro:sensor_realsense_r200>

     <!-- IMU -->
     <xacro:sensor_modified_imu name="imu" parent="world_link" color="red"
                    update_rate="50.0"
                    noise="0.005"
                    yaw_offset="0.0"
                    yaw_drift="0.02"
                    yaw_noise="0.01"
                    rate_offset="0.0 0.0 0.0"
                    rate_drift="0.002 0.002 0.002"
                    rate_noise="0.001 0.001 0.001"
                    accel_offset="0.0 0.0 0.0"
                    accel_drift="0.005 0.005 0.005"
                    accel_noise="0.005 0.005 0.005">
          <origin xyz="0 0 0" rpy="0 0 0"/>
     </xacro:sensor_modified_imu>

     <!-- GPS w/ Variable Dropouts-->
     <xacro:sensor_gps_with_dropout name="gps" parent="world_link" color="white"
                    ref_lat="40.1021496545"
                    ref_long="-88.2267974168"
                    ref_head="90.0"
                    update_rate="10.0"
                    drift="0.0"
                    noise="0.001"
                    vel_drift="0.00001"
                    vel_noise="0.00001">
          <origin xyz="-0.14 0 0.12" rpy="0 0 0"/>
     </xacro:sensor_gps_with_dropout>

     <!-- Simple Simulated Battery -->
     <xacro:sensor_battery_approx/>

</robot>
