<?xml version="1.0"?>
<robot name="camera_sensors" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- ====================================================
                         	RGB
     ========================================================= -->
	<!-- Axis p5512 -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgb/axis_p5512.urdf.xacro" />

	<!-- Axis m5013 -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgb/axis_m5013.urdf.xacro" />

	<!-- uEye CP Gige -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgb/ueye_cp_gige.urdf.xacro" />

	<!-- ELP USB Camera w/ Normal Lens -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgb/elp_usb_camera.urdf.xacro" />

	<!-- ====================================================
                         	RGBD
     ========================================================= -->

	<!-- Asus Xtion PRO -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/asus_xtion_pro.urdf.xacro" />
	<!-- Kinect -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/kinect.urdf.xacro" />
	<!-- KinectV2 -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/kinectv2.urdf.xacro" />
	<!-- Orbbec Astra -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/orbbec_astra.urdf.xacro" />
	<!-- Fotonic E Series -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/fotonic_e.urdf.xacro" />
	<!-- Intel Realsense R200 -->
	<xacro:include filename="$(find terrasentia_sensors)/urdf/cameras/rgbd/realsense_r200.urdf.xacro" />


</robot>
