<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

     <xacro:include filename="$(find gazebo_sensor_collection)/urdf/includes/materials.urdf.xacro"/>

     <xacro:macro name="sensor_elp_usb_cam" params="name parent *origin color:='white'">
          <joint name="${name}_joint" type="fixed">
               <xacro:insert_block name="origin"/>
               <parent link="${parent}"/>
               <child link="${name}_base_link"/>
          </joint>
          <link name="${name}_base_link"/>

          <joint name="${name}_base_joint" type="fixed">
               <origin xyz="0 0 0" rpy="0 ${-M_PI/2} 0" />
               <parent link="${name}_base_link"/>
               <child link="${name}_link"/>
          </joint>

          <link name="${name}_link"> <!-- TODO: review masses, inertial -->
               <inertial>
                    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                    <mass value="0.001"/>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                    <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
               </inertial>
               <visual>
                    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                         <xacro:color_material color="${color}"/>
                         <geometry>
                              <mesh filename="file://$(find gazebo_sensor_collection)/meshes/cameras/misc/board_camera.dae" scale="1.0 1.0 1.0"/>
                         </geometry>
               </visual>
               <collision>
                    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                    <geometry>
                         <mesh filename="file://$(find gazebo_sensor_collection)/meshes/cameras/misc/board_camera.dae" scale="1.0 1.0 1.0"/>
                    </geometry>
               </collision>
          </link>

          <joint name="${name}_rgb_joint" type="fixed">
               <origin xyz="0 0 0" rpy="0 ${M_PI/2} 0" />
               <parent link="${name}_link"/>
               <child link="${name}_rgb_frame"/>
          </joint>

          <link name="${name}_rgb_frame">
               <inertial>
                    <mass value="0.001" />
                    <origin xyz="0 0 0" />
                    <inertia ixx="0.0000001" ixy="0.0" ixz="0.0" iyy="0.0000001" iyz="0.0" izz="0.0000001" />
               </inertial>
          </link>

          <joint name="${name}_rgb_optical_joint" type="fixed">
               <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
               <parent link="${name}_rgb_frame"/>
               <child link="${name}_optical_frame"/>
          </joint>

          <link name="${name}_optical_frame">
               <inertial>
                    <mass value="0.001" />
                    <origin xyz="0 0 0" />
                    <inertia ixx="0.0000001" ixy="0.0" ixz="0.0" iyy="0.0000001" iyz="0.0" izz="0.0000001" />
               </inertial>
          </link>

          <xacro:sensor_elp_usb_cam_gazebo name="${name}"/>
          <xacro:color_gazebo parent="${name}_link" color="${color}"/>

     </xacro:macro>

     <!-- ====================================================
                           Gazebo
     ========================================================= -->

     <xacro:macro name="sensor_elp_usb_cam_gazebo" params="name">
          <gazebo reference="${name}_base_link">
               <sensor type="camera" name="${name}_sensor">
                    <update_rate>120.0</update_rate>
                    <always_on>1</always_on>

                    <camera name="head">
                         <horizontal_fov>1.3962634</horizontal_fov>
                         <image>
                              <width>640</width>
                              <height>480</height>
                              <format>R8G8B8</format>
                         </image>
                         <clip>
                              <near>0.03</near>
                              <far>300</far>
                         </clip>
                         <noise>
                              <type>gaussian</type>
                              <mean>0.0</mean>
                              <stddev>0.007</stddev>
                         </noise>

                         <distortion>
                              <k1>-4.0389e-01</k1>
                              <k2>2.3885e-02</k2>
                              <k3>3.3146e-01</k3>
                              <p1>5.1970e-03</p1>
                              <p2>2.1074e-03</p2>
                              <center>0.5 0.5</center>
                         </distortion>
                    </camera>

                    <plugin name="${name}_controller" filename="libgazebo_ros_camera.so">
                         <camera_name>${name}</camera_name>
                         <ros>
                              <!-- <namespace>custom_ns</namespace> -->
                              <remapping>${name}/image_raw:=${name}/image_raw</remapping>
                              <remapping>${name}/camera_info:=${name}/camera_info</remapping>
                         </ros>
                         <frame_name>${name}_optical_frame</frame_name>

                         <hack_baseline>0.07</hack_baseline>
                    </plugin>
               </sensor>
          </gazebo>

     </xacro:macro>

</robot>
