<?xml version="1.0"?>
<robot name="apm_plugin" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find gazebo_sensor_collection)/urdf/includes/materials.urdf.xacro"/>

	<xacro:macro name="apm_plugin" params="mav_id">
		<gazebo>
			<plugin name="arducopter_plugin" filename="libArduPilotPlugin.so">
				<fdm_addr>127.0.0.1</fdm_addr>
				<fdm_port_in>${mav_id * 10 + 9002}</fdm_port_in>
				<fdm_port_out>${mav_id * 10 + 9003}</fdm_port_out>
				<imuName>imu_link::imu_sensor</imuName>
				<!-- <gpsName>gps_link::gps_sensor</gpsName> -->
				<!--
					Require by APM :
					Only change model and gazebo from XYZ to XY-Z coordinates
				-->
				<!-- 3.141593 -->
				<modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
				<gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED>
				<connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>

				<!--
					Actuators: 		ROVER

					useForce
					multiplier
					turningDirection
					offset
					rotorVelocitySlowdownSim
					frequencyCutoff
					samplingRate
					cmd_max
					cmd_min
				-->
				<!--
					incoming control command [0, 1] so offset it by 0 to get
					[0, 1] and divide max target by 1.
					offset = 0 multiplier = 838 max rpm / 1 = 838
				-->
				<control channel="0">
					<type>VELOCITY</type>
					<offset>-0.5</offset>
					<p_gain>1</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>10</cmd_max>
					<cmd_min>-10</cmd_min>
					<jointName>lf_wheel_joint</jointName>
					<multiplier>70</multiplier>
				</control>
				<control channel="2">
					<type>VELOCITY</type>
					<offset>-0.5</offset>
					<p_gain>1</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>10</cmd_max>
					<cmd_min>-10</cmd_min>
					<jointName>rf_wheel_joint</jointName>
					<multiplier>70</multiplier>
				</control>
				<control channel="0">
					<type>VELOCITY</type>
					<offset>-0.5</offset>
					<p_gain>1</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>10</cmd_max>
					<cmd_min>-10</cmd_min>
					<jointName>lb_wheel_joint</jointName>
					<multiplier>70</multiplier>
				</control>
				<control channel="2">
					<type>VELOCITY</type>
					<offset>-0.5</offset>
					<p_gain>1</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>10</cmd_max>
					<cmd_min>-10</cmd_min>
					<jointName>rb_wheel_joint</jointName>
					<multiplier>70</multiplier>
				</control>

				<!--
					Actuators: 		UAV
				-->

				<!-- <control channel="0">
					<type>VELOCITY</type>
					<offset>0</offset>
					<p_gain>0.20</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>2.5</cmd_max>
					<cmd_min>-2.5</cmd_min>
					<jointName>rotor_0_joint</jointName>
					<multiplier>838</multiplier>
					<controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
				</control>
				<control channel="1">
					<type>VELOCITY</type>
					<offset>0</offset>
					<p_gain>0.20</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>2.5</cmd_max>
					<cmd_min>-2.5</cmd_min>
					<jointName>rotor_1_joint</jointName>
					<multiplier>838</multiplier>
					<controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
				</control>
				<control channel="2">
					<type>VELOCITY</type>
					<offset>0</offset>
					<p_gain>0.20</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>2.5</cmd_max>
					<cmd_min>-2.5</cmd_min>
					<jointName>rotor_2_joint</jointName>
					<multiplier>-838</multiplier>
					<controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
				</control>
				<control channel="3">
					<type>VELOCITY</type>
					<offset>0</offset>
					<p_gain>0.20</p_gain>
					<i_gain>0</i_gain>
					<d_gain>0</d_gain>
					<i_max>0</i_max>
					<i_min>0</i_min>
					<cmd_max>2.5</cmd_max>
					<cmd_min>-2.5</cmd_min>
					<jointName>rotor_3_joint</jointName>
					<multiplier>-838</multiplier>
					<controlVelocitySlowdownSim>1</controlVelocitySlowdownSim>
				</control> -->

			</plugin>
		</gazebo>

	</xacro:macro>

</robot>
